/* --------------------------------- Colors --------------------------------- */
$primary-color: #9356dc
$secondary-color: #FF79DA
$tertiary-color: #99E2D0
$layout-color: #f5f5f5
/* default f5f5f5 */
$shadow-color: #4a4a4a

/* --------------------- limit lightness of layout-color -------------------- */
@mixin computed-layout-color($color: $layout-color, $percent: 10%)
  @if lightness($color) < 70%
    background-color: lighten($color, $percent)
  @else
    background-color: darken($color, $percent)

/* ------------------- Adapt font color with layout color ------------------- */
@mixin overlay-characters-color($color: $layout-color)
  @if lightness($color) > 50%
    color: darken($color, 70%)
  @else
    color: lighten($color, 100%)

/* ---------------------- Define each background color ---------------------- */
@mixin grey-one-background-color
  background-color: white

@mixin grey-two-background-color($color: $layout-color)
  @include computed-layout-color($percent: 0%)

@mixin grey-three-background-color($color: $layout-color)
  @include computed-layout-color($percent: 5%)

@mixin grey-four-background-color($color: $layout-color)
  @include computed-layout-color($percent: 70%)

/* ------------------------------- Responsive ------------------------------- */
$breakpoints: (tablet: 768px, laptop: 990px)

/* ------------------------------- Animations ------------------------------- */
$animation-duration: 500ms