.main-container
  margin: 0 auto
  /* center main content */
  padding: 0
  max-width: 1500px
  @media screen and (min-width: map-get($breakpoints, tablet))
    padding: 0 50px

.hidden
  display: none