.restaurants
  padding: 1.8em 2em
  border-radius: 0
  @include grey-two-background-color
  @media screen and (min-width: map-get($breakpoints, tablet))
    border-radius: 2em 2em 0 0
  &-listing
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    gap: 1em
    @media screen and (min-width: map-get($breakpoints, tablet))
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between

.restaurant-card
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: auto
  background-color: white
  @media screen and (min-width: map-get($breakpoints, tablet))
    width: 48%
  @media screen and (min-width: map-get($breakpoints, laptop))
    width: 23%
  &-image
    position: relative
    width: 100%
    min-height: 200px
    img
      position: absolute
      object-fit: cover
      width: 100%
      height: 100%
      border-radius: 1.4em 1.4em 0 0
    .label
      padding: 0.6em 0.9em
      margin: 1em
      right: 0
      background-color: $tertiary-color
      position: absolute
      border-radius: 0.2em
      @include text-label-color
      font-size: 0.8em 
  &-content
    display: flex
    width: 100%
    height: 100%
    padding: 1.2em
    &-description
      width: 80%
      height: auto
      padding-top: 0.2em

.heart-button
  position: absolute
  z-index: 2
  top: 230px
  right: 20px