$num-bars: 5
$anim-dur: 3000ms
$anim-delay: $anim-dur / $num-bars

.stages
  padding: 1.8em 2em
  ul
    display: flex
    flex-direction: column
    flex-wrap: wrap
    @media screen and (min-width: map-get($breakpoints, tablet))
      flex-direction: row
      gap: 1.5em
    li
      flex-grow: 1

.stages-card
  @extend .card
  position: relative
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: row
  flex-wrap: wrap
  padding: 1.8em
  background-color: $layout-color
  z-index: 1
  animation: fade-in-out $anim-dur backwards infinite
  @for $i from 1 through $num-bars
    &--#{$i}
      animation-delay: $anim-delay * $i
  @media screen and (min-width: map-get($breakpoints, tablet))
    justify-content: center
  i
    color: grey
    margin-right: 1.5em


@keyframes fade-in-out
  0%
    background-color: $layout-color 
  50%
    background-color: lighten($primary-color, 25)
  100%
    background-color: $layout-color

.number
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  color: white
  width: 25px
  height: 25px
  left: -10px
  border-radius: 1em
  background-color: $primary-color
