@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a,
a:visited {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/* --------------------------------- Colors --------------------------------- */
/* default f5f5f5 */
/* --------------------- limit lightness of layout-color -------------------- */
/* ------------------- Adapt font color with layout color ------------------- */
/* ---------------------- Define each background color ---------------------- */
/* ------------------------------- Responsive ------------------------------- */
html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #000;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1em;
  font-weight: 700;
  margin: 0.8em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1em;
  font-weight: 700;
  margin: 0.8em 0;
}
h2.stylized {
  font-size: 1.7em;
  font-family: "Shrikhand", sans-serif;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
}

p {
  font-size: 1.06em;
  line-height: 1.2em;
  font-weight: 300;
}
p.text--bold {
  font-weight: 700;
}
p.text--grey {
  color: #434343;
}

.main-container {
  margin: 0 auto;
  /* center main content */
  padding: 0;
  max-width: 1500px;
}
@media screen and (min-width: 768px) {
  .main-container {
    padding: 0 50px;
  }
}

.hidden {
  display: none;
}

/* ---------------------------- Test à supprimer ---------------------------- */
.box, .four, .three, .two, .one {
  width: 100%;
  height: 50px;
}

.one {
  background-color: white;
}

.two {
  background-color: whitesmoke;
}

.three {
  background-color: #e8e8e8;
}

.four {
  background-color: #434343;
}

header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(74, 74, 74, 0.2);
}
header .container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  header .container {
    padding: 0 50px;
  }
}
header .container .logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 30px;
  color: black;
}
header .container .back-btn {
  font-size: 1.3em;
  cursor: pointer;
}

.hero {
  margin: auto;
  max-width: 1400px;
  background-color: whitesmoke;
}
@media screen and (min-width: 768px) {
  .hero {
    border-radius: 0 0 2em 2em;
  }
}

.hero-ribon {
  margin: auto;
  width: 100%;
  padding: 1em;
  text-align: center;
  background-color: #e8e8e8;
}
@media screen and (min-width: 768px) {
  .hero-ribon {
    width: 50%;
    border-radius: 0 0 1em 1em;
  }
}

.hero-banner {
  text-align: center;
  padding: 1.5em 2em 3.5em 2em;
}
.hero-banner .button {
  margin-top: 1.5em;
}
.hero-banner h1, .hero-banner p {
  margin: 0.8em 0;
}

.stages {
  padding: 1.8em 2em;
}
.stages ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .stages ul {
    flex-direction: row;
    gap: 1.5em;
  }
}
.stages ul li {
  flex-grow: 1;
}

.restaurants {
  padding: 1.8em 2em;
  border-radius: 0;
  background-color: whitesmoke;
}
@media screen and (min-width: 768px) {
  .restaurants {
    border-radius: 2em;
  }
}
.restaurants-listing {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .restaurants-listing {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .restaurant-card {
    width: 48%;
  }
}
@media screen and (min-width: 990px) {
  .restaurant-card {
    width: 23%;
  }
}
.restaurant-card-image {
  position: relative;
  width: 100%;
  min-height: 200px;
}
.restaurant-card-image img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1.4em 1.4em 0 0;
}
.restaurant-card-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1.2em;
}
.restaurant-card-content-description {
  width: 100%;
  height: auto;
  padding-top: 0.2em;
}
.restaurant-card-content-heart {
  padding: 1em;
}
.restaurant-card-content button {
  padding: 0;
  font-size: 1.3em;
  border: 0;
  color: grey;
  background-color: transparent;
  cursor: pointer;
}
.restaurant-card-content button:hover {
  color: #9356dc;
}

.menu-listing {
  width: 100%;
  padding: 1em;
}
@media screen and (min-width: 768px) {
  .menu-listing {
    margin: auto;
    width: 80%;
  }
}

.menu {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  cursor: pointer;
}
.menu:active .vert {
  width: 100px;
}
.menu:hover .vert {
  width: 100px;
}
.menu-description h3, .menu-description p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-description h3 {
  padding: 1em 0 0 1em;
}
.menu-description p {
  padding: 0em 0 1em 1em;
}

.crop {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bleu {
  display: flex;
  align-items: flex-end;
  width: auto;
}
.bleu p {
  padding: 1em;
}

.vert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  overflow: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2em;
  margin-top: 4em;
  background-color: #434343;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
    border-radius: 2em 2em 0 0;
  }
}
.footer .logo {
  width: 110px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer .logo {
    width: 200px;
  }
}
.footer nav {
  width: 100%;
  padding: 1em 0;
}
.footer nav ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer nav ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.footer nav ul li {
  width: fit-content;
}
.footer nav ul li p {
  margin: 0.5em 0;
}
.footer nav ul li p i {
  font-size: 80%;
  width: 20px;
  height: auto;
}

.button {
  display: inline-block;
  width: auto;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 1em;
  padding: 1em 1.5em;
  margin: 0;
  border-width: 0;
  border-radius: 2em;
  background: linear-gradient(#FF79DA, #9356dc);
  box-shadow: 0px 7px 10px rgba(74, 74, 74, 0.4);
}
.button p {
  color: white;
  font-weight: 700;
  margin: 0;
}

.card, .stages-card {
  background-color: white;
  border-radius: 1.4em;
  margin-bottom: 1.3em;
  box-shadow: 0px 7px 10px rgba(74, 74, 74, 0.2);
}

.stages-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.8em;
  background-color: #f2f2f2;
}
@media screen and (min-width: 768px) {
  .stages-card {
    justify-content: center;
  }
}
.stages-card i {
  color: grey;
  margin-right: 1.5em;
}
.stages-card.active {
  background-color: rgba(147, 86, 220, 0.1);
}
.stages-card.active i {
  color: #9356dc;
}
.stages-card .number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25px;
  height: 25px;
  left: -10px;
  border-radius: 1em;
  background-color: #9356dc;
}

/*# sourceMappingURL=style.css.map */
